 body {
     margin-bottom: 48px;
 }

div.topctl form input[type="text"] {
  width:195px;
}

div.topctl  table td   {
 text-align:center;
}

div.topctl  table td:first-child   {
  display:none;
}

div.topctl table {
  position: relative;
  left: -5px;
  width: 320px;
}

 div.xxxxtopbar {
    width: 320px;
    height: 55px;
   background: url("images/ifdb-topbar-nar.jpg") #c0c0c0 no-repeat;
 }
 

img.dla-button {
    background-image: none;
    width: 0px;
}

.new-review {
   font-size: 12pt;
}

input#searchfor, #searchfor2{
  width: 95%;
}